body {
  background-color: #070506;
  color: white;
  position: relative;
  height: 100%;
}

.main {
  position: relative;
  width: 100vw;
}

.main-text {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #e2012d;
  word-spacing: 8px;
}

.center-wrapper {
  padding-left: 100px;
  margin: 100px 0;
  position: relative;
}

/* swiper slide */
.swiper {
  width: 30%;
  margin: 0;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #f8f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.swiper-button-prev,
.swiper-button-next {
  /* background-color: #e2012d; */
  color: #9799ab;
  z-index: 10;
  font-size: 40px;
}

.swiper-button-next {
  position: absolute;
  right: 30px;
}

.swiper-pagination-bullets {
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  padding: 0 20px;
  font-size: 40px;
  font-weight: 800;
}

/* center text */
.center-text {
  width: 500px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 20%;
  left: 800px;
  transition: all 0.2s;
}

/* 선수 이름 부분 */
.name {
  font-size: 70px;
  margin-bottom: 20px;
}
.name-ko {
  font-size: 30px;
  font-family: "Do Hyeon", sans-serif;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* 선수 관련 인터뷰 */
.speaking-wrapper {
  margin-bottom: 20px;
}
.speaking {
  font-size: 30px;
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 10px;
  white-space: pre-line;
  word-break: keep-all;
}
.speaking-source {
  font-family: "Do Hyeon", sans-serif;
  text-align: right;
  font-size: 20px;
}

/* 선수 정보 */
.profile-wrapper {
  margin: 40px 0;
}

.profile-wrapper p {
  font-size: 17px;
  margin-bottom: 5px;
}

/* 버튼 */
.button-wrapper {
  margin-top: 30px;
  display: flex;
  flex-flow: row;
}
.button-wrapper button {
  background: transparent;
  border: 0;
  padding: 0;
}
