<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;800;900&family=Nanum+Myeongjo&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="../css/main.css
    "
    />
    <script src="../js/main.js" defer type="module"></script>
    <script src="../js/mainSwiper.js" defer type="module"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <p class="main-text">T1 IS WHERE BEST BELONG</p>
      <img src="../assets/t1_img_01.jpg" alt="" />
    </div>
  </body>
</html>
