<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/t1-favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Montserrat:wght@100;300;500;700;800;900&family=Nanum+Myeongjo&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/3809619b32.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="../css/main.css
    "
    />
    <script src="../js/data.js" defer></script>
    <script src="../js/mainSwiper.js" defer type="module"></script>
    <script src="../js/main.js" defer type="module"></script>
    <title>최선있티</title>
  </head>
  <body>
    <div class="main">
      <p class="main-text">T1 IS WHERE BEST BELONG</p>
      <img src="../assets/t1_img_01.jpg" alt="" />
    </div>
    <div class="center-wrapper">
      <div class="swiper sample-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-index="1">
            <img src="../assets/t1_img_zeus_01.png" />
          </div>
          <div class="swiper-slide" data-index="2">
            <img src="../assets/t1_img_oner_01.png" />
          </div>
          <div class="swiper-slide" data-index="3">
            <img src="../assets/t1_img_faker_01.png" />
          </div>
          <div class="swiper-slide" data-index="4">
            <img src="../assets/t1_img_gumayusi_01.png" />
          </div>
          <div class="swiper-slide" data-index="5">
            <img src="../assets/t1_img_keria_01.png" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev">
          <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="swiper-button-next">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
      <div class="center-text">
        <span class="name">Zeus</span><span class="name-ko">(최우제)</span>
        <div class="speaking-wrapper">
          <p class="speaking">
            <i>
              "오늘까지만 세계 최고의 탑을 하고 내일부터 다시 도전자의 마음으로
              돌아가겠다."
            </i>
          </p>
          <p class="speaking-source">- Worlds 2023 우승 인터뷰 -</p>
        </div>
        <div class="profile-wrapper">
          <p>
            Birthday : <span class="profile-birthday profile">2004.01.31</span>
          </p>
          <p>Team : <span class="profile-team profile">T1</span></p>
          <p>Lane : <span class="profile-lane profile">Top</span></p>
          <p>Debut : <span class="profile-debut profile">2021.02.03</span></p>
        </div>
        <div class="button-wrapper">
          <button
            class="button-shorts"
            data-url="https://youtube.com/shorts/J-PSr5bXfZY?si=Kes2HxzM3d_92TDb"
          >
            <img
              src="../assets/icon-shorts.svg"
              alt=""
              width="50"
              height="50"
            />
          </button>
          <button
            class="button-instagram"
            data-url="https://www.instagram.com/godthunderzeus/"
          >
            <img
              src="../assets/icon-instagram.svg"
              alt=""
              width="50"
              height="50"
            />
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
